{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <title>TreasureGram</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="TreasureGram"></a>
        </nav>
    {% block content %}
    {% endblock %}

    </body>
</html>